body{
    margin: 0 5%;
    padding: 0;
    max-height: 100vh;
    overflow: hidden;
    background: linear-gradient(180deg, #011E33 40.47%, rgba(0, 9, 17, 0) 100%), #51779A;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;

    
    .container{
        .header{
            padding-top: 2%;
            padding-bottom: 2%;
            // border: solid white;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .logoContainer{
                // border: solid red;
                display: flex;
                flex-direction: row;
                align-items: center;

                .logo{
                    // border: solid yellow;
                    padding-right: 2%;
                    height:5vh;
                }
                
            }
            .itemContainer {
                // border: solid white;
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 20vw;
                .item{
                    margin-right: 2vw;
                    &:hover {
                        cursor: pointer;
                    }
                }

            }
        }
        .mainSection{
            display: flex;
            align-items: row;
            justify-content: space-between;
            height: 88.1vh;
            .introContainer{
                // border: solid;
                height: 50%;
                flex-direction: column;
                display: flex;
                align-items: stretch;
                justify-content: center;
                .intro{
                    margin-bottom:0;
                    font-size: 4vw;
                }
                .subIntro{
                    margin-top: 0;
                    font-size: 2vw;
                }
                .link{
                    text-decoration: none;
                    color: inherit;
                    background-color:#0085FF;
                    // border: solid;
                    width:11em;
                    padding: 1.5%;
                    display: flex;
                    justify-content: center;
                    border-radius: 5px;

                }
              
            }
            .jCole{
                // border: solid;
                background-image: url(../../images/jCole.png);
                max-height: 91vh;
                background-size: contain;
                // background-repeat: no-repeat;
                // background-position: right;
            }
        }

    }
}